html {
    background-color:#e6e9ef;
    overflow: hidden;
    font-family: montserratregular,sans-serif;
    font-weight: 400;
}

#container {
    width:100%;
    padding:4%;
}

#ticket {
    width:84.5%;
    height:400px;
    padding:4%;
    background-color:white;
    box-shadow:2px,2px,3px;
    border-radius: 5px;
    color:black;
}


.gm{
    font-size: 30px;
    margin-top:10px;
}

.activated{
    font-size: 15px;
    margin-top:5px;
}

.expiry{
    font-size: 31px;
    margin-top:60px;
}

#ticket_img {
    padding-top:5px;
    width:27%;
    float: right;
}